<h2>Flight's number: <%= @flight.id %></h2>
<ul>
    <li>Number of passenger: <%= @tickets %></li>
    <%= render "shared/flight", :flight => @flight %>
</ul>

<%= form_with model: @booking do |f| %>
    <%= f.hidden_field :chosen_flight, value: @flight.id %>
    <%= f.hidden_field :number_tickets, value: @tickets %>
    <h3>Please enter the passenger's information: </h3>
    <ul>
        <li>
            <%= f.fields_for :passengers do |passenger_form| %>
                <%= passenger_form.label :name, "Name: " %>
                <%= passenger_form.text_field :name %>

                <%= passenger_form.label :email, "Email: " %>
                <%= passenger_form.text_field :email %>
            <% end %>
        </li>
        
    </ul>
    <%= f.submit "Book" %>
<% end %>