
<li>Departure airport: <%= flight.departure_airport.airport_code %></li>
<li>Arrival airport: <%= flight.arrival_airport.airport_code %></li>
<li>Flight duration: <%= flight.flight_duration%></li>
<li>Date: <%= flight.date %></li>
<li>Time: <%= flight.time %></li>

